<!-- <header
  class="site-header"
  style="background-color: #fc6203; border-radius: 7px"
>
  <div class="site-identity">
    <h1>
      <a href="#">
        <i src="assets/images/logo.png"></i>
        Brook And Woods Retreat</a
      >
    </h1>
  </div>
  <nav class="site-navigation">
    <ul class="nav">
      <li class="header-li"><a href="#">About</a></li>
      <li class="header-li"><a href="#">News</a></li>
      <li class="header-li"><a href="#">Contact</a></li>
    </ul>
  </nav>
</header> -->

<div id="mySidenav" class="sidenav" style="z-index: 100">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
    >&times; &nbsp;</a
  >
  <img src="assets/images/logo.png" alt="BWR Logo" height="20%" width="100%" />
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Login</a>
  <a href="#">Contact</a>
</div>

<div style="background-color: #fc6203" height="130%">
  <a style="font-size: 30px; cursor: pointer" (click)="openNav()">&#9776; </a>
  <a
    style="color: black; text-decoration: none !important"
    routerLink="home"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <img
      src="assets/images/logo.png"
      alt="BWR Logo"
      height="30px"
      width="30px"
    />
    <h2 style="display: inline">Brook and Wood Retreat</h2>
  </a>
  <br />
</div>
