<header
  class="site-header"
  style="background-color: #fc6203; border-radius: 7px"
>
  <div class="site-identity">
    <h1>
      <a href="#">
        <i src="assets/images/logo.png"></i>
        Brook And Woods Retreat</a
      >
    </h1>
  </div>
  <nav class="site-navigation">
    <ul class="nav">
      <li class="header-li"><a href="#">About</a></li>
      <li class="header-li"><a href="#">News</a></li>
      <li class="header-li"><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
